# Copyright (c) 2026 Codium Electronique
# SPDX-License-Identifier: Apache-2.0

module = SAMPLE_DRIVER_DECTNRP
module-str = Opener DECT NR+ driver sample
source "$(ZEPHYR_BASE)/subsys/logging/Kconfig.template.log_config"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu